.form {
  padding: 50px;
  padding-top: 44px;
  padding-bottom: 50px;
  max-width: 403px;
  background-color: $dark-blue;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 auto;
    padding: 40px 30px;
  }

  p {
    color: $white;
    margin: 0;
    margin-bottom: 26px;
    font-weight: 500;
  }

  input {
    font-family: "Montserrat", "Arial", sans-serif;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-bottom: 20px;
    border: none;
    font-size: 14px;

    &::placeholder {
      color: $dark-blue;
      line-height: 21px;
      font-weight: 400;
    }

    &:hover,
    &:focus {
      background-color: $light-grey;
    }
  }

  label {
    color: $light;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    padding-top: 3px;

    @media (max-width: $max-mobile-width) {
      line-height: 12px;
    }
  }

  input[type="checkbox"] + label {
    position: relative;
    padding-left: 24px;
    display: block;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: $white;

      @media (max-width: $max-mobile-width) {
        width: 20px;
        height: 20px;
        top: 2px;
      }
    }

    @media (max-width: $max-mobile-width) {
      padding-left: 24px;
      display: block;
    }
  }

  input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 24px;

    &::before {
      content: url("../img/icon-tick.svg");
      position: absolute;
      z-index: 11;
      top: 2px;
      left: 3px;

      @media (max-width: $max-mobile-width) {
        top: 6px;
        left: 4px;
      }
    }

    @media (max-width: $max-mobile-width) {
      padding-left: 24px;
    }
  }

  button {
    color: $dark-blue;
    background-color: $white;
    display: block;
    width: 100%;
    margin-top: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      background-color: $sky;
      color: $white;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
