.page-footer {
  margin: 0 auto;
  background-color: $dark-blue;
}

.page-footer__social-link {
  &:active {
    svg {
      opacity: 0.5;
    }
  }
}

.page-footer__content {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1160px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    max-width: 678px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 40px 15px;
    flex-wrap: wrap;
    align-items: center;
  }
}

.page-footer__social-list {
  min-width: 86px;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  list-style: none;
  padding-left: 0;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    display: flex;
    align-items: center;
    max-width: 130px;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 0;

    svg {
      transform: scale(0.8);
    }
  }

  li {
    margin-left: 33px;
    display: flex;
    align-self: center;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin-left: 23px;
      align-items: center;
    }

    @media (max-width: $max-mobile-width) {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  svg {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      transform: scale(0.8);
    }
  }
}


.page-footer__logo {
  height: 38px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 6px;
    width: 100%;
  }

  img {
    @media (max-width: $max-mobile-width) {
      width: 42px;
      height: 22px;
    }
  }
}

.page-footer__nav {
  color: $white;
  width: 594px;
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 40px;
  list-style: none;
  padding-left: 0;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 441px;
    margin-left: 25px;
  }

  @media (min-width: 319px) and (max-width: $max-mobile-width) {
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }

  @media (max-width: $min-mobile-width) {
    flex-direction: column;
    margin-left: 0;
  }

  li {
    @media (max-width: $max-mobile-width) {
      margin-bottom: 8px;
    }
  }

  a {
    color: $white;
    line-height: 20px;
    font-weight: 500;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      @include font($font-12, $line-height-15, $medium);
    }

    @media (max-width: $max-mobile-width) {
      @include font($font-12, $line-height-15, $medium);
    }

    &:hover,
    &:focus {
      opacity: 0.5;
      transition: 0.7s ease-out;
    }

    &:active {
      color: $sky;
    }
  }
}
