.tours__content {
  //padding: 120px 118px;
  padding-top: 110px;
  padding-bottom: 90px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  max-width: 1130px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    //padding: 100px 60px;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 678px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 65px 25px;
  }

  h2 {
    text-align: center;
    width: 100%;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 50px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: $max-mobile-width) {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.tours__item {
  margin-bottom: 30px;
  height: 386px;
  background-color: $light-blue;
  margin-right: 30px;

  &:nth-child(4n+1) {
    margin-right: 0;

    @media (max-width: $max-mobile-width) {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    margin-right: 0;
  }

  /*
  &:nth-child(2n+1) {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin-right: 0;
    }
  }
  */

  &:hover {
    .tours__description {
      opacity: 1;
      transition: 0.7s ease-out;
    }

    h3 {
      top: 28px;
      z-index: 11;
      left: 25px;
    }
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.tours__wrapper {
  position: relative;
  color: $white;
  width: 100%;
  height: 100%;

  ul {
    list-style: none;
    padding: 0;
  }

  h3 {
    position: absolute;
    //top: 20px;
    bottom: 5px;
    left: 30px;
    margin: 0;
    //z-index: 10;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
  }
}

.tours__description {
  padding: 68px 25px 36px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;

  ul {
    margin: 0;
  }

  a {
    color: $dark-blue;
    background-color: $white;
    width: 100%;
    display: block;
    text-align: center;
    align-self: flex-end;
    padding-top: 10px;
    padding-bottom: 9px;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      background-color: $sky;
      color: $white;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    &:nth-child(odd) {
      font-weight: 500;
      margin-bottom: 2px;
    }

    &:nth-child(even) {
      margin-bottom: 10px;
    }
  }
}

.tours__img {
  display: block;
  width: 260px;
  height: 100%;
  padding: 0;
  //object-fit: cover;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 309px;
    height: 100%;
    //object-fit: cover;
  }

  @media (max-width: $max-mobile-width) {
    width: 270px;
  }
}
