.travels {
  padding: 120px 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 100px 45px;
  }

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    padding: 65px 15px;
  }
}

.travels__text {
  width: 560px;

  @media (min-width: 1024px) and (max-width: 1300px) {
    padding-right: 50px;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin: 0;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      padding-right: 115px;
      font-size: 26px;
      line-height: 36px;
    }

    @media (max-width: $max-mobile-width) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  p {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      padding-right: 15px;
    }
  }
}

.travels__img {
  @media (max-width: $max-mobile-width) {
    margin: 0 auto;
  }

  img {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: 324px;
      height: 264px;
    }

    @media (max-width: $max-mobile-width) {
      width: 290px;
      height: 186px;
    }
  }
}
