//COLOR VARIABLES
$dark-blue: #011c40; //основной цвет шрифта темно-синий
$white: #ffffff; //основной цвет шрифта белый
$grey: #e5e5e5; //цвет body
$blue: #1e90ff; //заменяющий цвет фонов
$light-blue: #87cefa; //заменяющий цвет контентных картинок
$light: #f9fbfd; //светлый цвет текста
$sky: #5496bd; //состояние active для ссылок
$light-grey: #f2f2f2; //цвет input с hover

$max-tablet-width: 1023px; // максимум для версии пишем когда идем от desktop к mobile (768px - 1023px;)
$max-mobile-width: 767px; // максимум для версии пишем когда идем от desktop к mobile (320px - 767px;)
$min-tablet-width: 768px;
$min-mobile-width: 320px;

//RETINA VARIABLES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
